<!--<div id="<%= fridge.id %>_items" class="food_items">
	<div class="well">
		<% if fridge.GetFoodItems().any? %>
			<% fridge.GetFoodItems().each do |ufi| %>
				<li style="list-style: none">
					<span style="font-weight:bold">
						<%= link_to ufi.global_food_item.name, edit_user_food_item_path(ufi) %>
					</span>
					 - Try to finish by: <%= ufi.DisplayUseByDate() %>
					  Cost: <%= ufi.DisplayPrice() %>
						| <%= link_to "Finished", user_food_item_path(ufi, :status => 1), method: "Delete", :remote => true %> 
						<%= link_to "Threw Away", user_food_item_path(ufi, :status => 2), method: "Delete", :remote => true %>
						<%= link_to "X", user_food_item_path(ufi, :status => "-1"), method: "Delete", :confirm => "Are you sure? Use this only if you accidentally added this item.", :remote => true %>
				</li>
			<% end %>
		<% else %>
			This fridge is empty!
		<% end %>
	</div>
</div>-->

<div>
<div style="border: 1px solid black; width: 305px; box-shadow: 0px 0px 10px #AAA; display: inline-block">
	<div>
		<%= image_tag fridge.GetFoodItems().first.global_food_item.photo.url(:medium) %>	
	</div>
	<!--<div style="position:absolute; bottom: 10px; left: 10px; z-index: 10; background-color: black; color: white; padding: 10px; font-size: 24px; border-radius: 8px; font-family: Candara">
		<%= fridge.GetFoodItems().first.DisplayUseByDate() %>
	</div>
	<div style="position:absolute; bottom: 10px; right: 10px; z-index: 10; background-color: black; color: white; padding: 10px; font-size: 24px; border-radius: 8px; font-family: Candara">
		<%= fridge.GetFoodItems().first.DisplayPrice() %>
	</div>-->
</div>

<div style="border: 1px solid black; width: 305px; box-shadow: 0px 0px 10px #AAA; dispaly:: inline-block">
	<div>
		<%= image_tag fridge.GetFoodItems().first.global_food_item.photo.url(:medium) %>	
	</div>
	<!--<div style="position:absolute; bottom: 10px; left: 10px; z-index: 10; background-color: black; color: white; padding: 10px; font-size: 24px; border-radius: 8px; font-family: Candara">
		<%= fridge.GetFoodItems().first.DisplayUseByDate() %>
	</div>
	<div style="position:absolute; bottom: 10px; right: 10px; z-index: 10; background-color: black; color: white; padding: 10px; font-size: 24px; border-radius: 8px; font-family: Candara">
		<%= fridge.GetFoodItems().first.DisplayPrice() %>
	</div>-->
</div>
</div>