<%= javascript_tag "init_typeahead(" + @global_food_items.to_json + ", '" + 
	url_for(:action => 'addItem', :controller => 'user_food_items') + "');" %>

<h1> Welcome to your kitchen, <%= @user.name %> </h1>
<h2> Today's date is: <%= Date.today.strftime("%m/%d/%y") %> </h2>
<div>
	<%= link_to "Fridge Settings", fridge_path %> |
	<%= link_to "Global Food Items", global_food_items_path %>
</div>

<!-- <div class="">
	<input id="typeahead" placeholder="Type to add item..." type="text" class="span3" data-provide="typeahead" data-items="4" />	
</div> -->

<div id="usersItems">
	<%= render 'user_food_items/user_food_items' %>
</div>