<h3> All Food Items </h3>
<ul>
<% @global_food_items.each do |gfi| %>
	<li>
		<%= gfi.name %>, <%= gfi.category %>, <%= gfi.avgexpirationdays %>  
		<%= link_to "Edit", edit_global_food_item_path(gfi) %> |
		<%= link_to "Delete", global_food_item_path(gfi), method: "Delete" %>
	</li>
<% end %>
</ul>

<%= link_to "Add", new_global_food_item_path %>

