<h1>New Food Item</h1>

<div class="row">
  <div class="span6 offset3">
  	<%= render 'shared/error_messages', :model => @global_food_item %>
    <%= form_for(@global_food_item) do |f| %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :category %>
      <%= f.select :category, ['Baking','Beverages','Canned Goods','Cereal/Breakfast','Condiments','Dairy','Deli','Frozen Foods','Meats','Pasta/Rice','Produce','Snacks','Spices'], {:prompt => "Select a category"} %>

      <%= f.label :avgexpirationdays, "Average Expiration Days"%>
      <%= f.text_field :avgexpirationdays %>

      <%= f.submit "Save", class: "btn btn-large btn-primary" %>
      <%= f.submit "Save and Add Another", class: "btn btn-large btn-primary", :name => "save_add_another" %>
    <% end %>
  </div>
</div>