<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @food_item.name %>
</p>

<p>
  <b>Category:</b>
  <%= @food_item.category %>
</p>

<p>
  <b>Epxpirationdays:</b>
  <%= @food_item.epxpirationdays %>
</p>

<p>
  <b>Datebought:</b>
  <%= @food_item.datebought %>
</p>

<p>
  <b>Usebydate:</b>
  <%= @food_item.usebydate %>
</p>


<%= link_to 'Edit', edit_food_item_path(@food_item) %> |
<%= link_to 'Back', food_items_path %>
